<div *ngIf="games.length">
    <h2>Game Summeries:</h2>
    <ul>
        <li *ngFor="let game of games; let i = index">
            <h3>Game #{{ i + 1 }}:</h3>
            <span class="block"
                >{{ game.battleshipNum }}
                <span *ngIf="game.battleshipNum > 1">battleships</span
                ><span *ngIf="game.battleshipNum === 1">battleship</span></span
            >
            <span class="block">{{ game.steps }} steps</span>
            <span class="block">Board Length: {{ game.boardLength }}</span>
            <span class="block">Board Width: {{ game.boardWidth }}</span>
        </li>
    </ul>
    <button (click)="clearList()">Clear List</button>
</div>
