<button class="restart-btn" (click)="restart()">Restart</button>
<div class="table">
    <table>
        <tr>
            <td></td>
            <td *ngFor="let cell of board[0]; let i = index">
                {{ i | toString }}
            </td>
        </tr>
        <tr *ngFor="let line of board; let i = index">
            <td>
                {{ i+1 }}
            </td>
            <td *ngFor="let cell of line; let j = index"
                [ngClass]="{'border-left': cell.leftBorder && !isGameOn,'border-right': cell.rightBorder && !isGameOn,'border-top': cell.topBorder && !isGameOn,'border-bottom': cell.bottomBorder && !isGameOn}">
                <app-cell [isGameWon]="isGameWon" (onCellClick)="onCellClick(i,j)" [i]="i" [j]="j"></app-cell>
            </td>
        </tr>
    </table>
</div>
<h1 tabindex="0" *ngIf="isGameWon">Yow Won! Well Done!</h1>